<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FCC Random Quote Generator</title>
    <meta name="description" content="Add a quote or get a quote">        
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>FCC Random Quote Generator</h1>
    <div id="text-container">
      <div id="add-quote">
        <h2>Add a Quote</h2>
        <form id="quote-form" action="/api/addquote" method="post">
          <div class="question-row">
            <div class="question">
              <label>Quote:</label>
            </div>
            <div class="answer">
              <textarea name="quote" required="required" placeholder="Please enter quote here..."></textarea>
            </div>
          </div>
          <div class="question-row">
            <div class="question">
              <label>Author:</label>
            </div>
            <div class="answer">
              <input class="user-input" type="text" required="required" name="author" placeholder="Enter author of quote"> 
            </div>
          </div>
          <div class="question-row">
            <div class="question">
              <label>Quote Category:</label>
            </div>
            <div class="answer radio-container" id="category">
              <label><input type="radio" name="category" value="movie" />Movie</label>
              <label><input type="radio" name="category" value="book" />Book</label>
              <label><input type="radio" name="category" value="realperson" />Real Person</label>
              <label><input type="radio" name="category" value="other" checked="checked" />Other</label>
            </div>
          </div>
          <div class="question-row">
            <div class="question">
              <label>FCC Camper:</label>
            </div>
            <div class="answer">
              <input class="user-input" type="text" name="camper" placeholder="Enter your name (not required)"> 
            </div>  
          </div>
          <div class="question-row">
            <div class="question">
              <label>FCC Camper Profile:</label>
            </div>
            <div class="answer">
              <input class="user-input" type="url" name="camper_link" placeholder="Enter link to your profile (not required)">      
            </div>
          </div>
          <div class="buttonholder">
            <input type="submit" value="Submit" name="submit">
          </div>
        </form>
        <div id="db-size">
          There are <span id="quotes">Loading...</span> quotes in the database
        </div>
      </div>  
      <div id="get-quote">
        <h2>Get a Quote</h2>
        <h3>Instructions</h3>
        <div id="instruct-container">
          <ul>
            <li>Help Campers complete their Random Quote Machine challenge by contributing a quote.</li>
            <li>It can be anything, from something said by a famous historical figure, or maybe your favorite movie character or possibly even you!</li>
            <li>Feel free to include your name and profile link and maybe Campers will give you a shout-out in their projects!</li>
            <li>To get a random quote:<br> <code>https://coordinated-face.glitch.me/api/quote/all</code></li>        
            <li>To get a random quote by category (for example):<br> <code>https://coordinated-face.glitch.me/api/quote/realperson</code></li>
          </ul>
        </div>
      </div>  
    </div>  
    <div id="bottom-container"></div>
    <script src="client.js"></script>    
  </body>
</html>
